@font-face {
    font-family: 'Roboto-Thin';
    src: url('Roboto-Thin.ttf') format('truetype');
  }

body{
    background-color: #D0D9DF;
    overflow-x: hidden;
}

h1{
    font-size: 28px;
}
h2{
    font-size: 20px;
}
h3{
    font-size: 17px;   
}
a{
    text-decoration: none;
}
ul{
    color: #11D0AE;
}

.fade{
    color: #FAFAFB;
}
.fade:hover{
    color: #0581E0;
}

.fadeReverse{
    color: #0581E0;
}
.fadeReverse:hover{
    color: #334052;
}

.itens {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-left: 47px;
  }
  
.listapadding{
    padding: 0;
    margin: 20px;
    padding-left: 0px;
}

.tabLista{
    padding-left: 20px;
}

.itensLaterais{
    position:absolute;
    text-align: center;
    left: 30%;
}

#rectangleCabecalho{
    position:absolute;

    width: 100%;
    height: 13%;
    left: 1px;
    top: 0px;
    
    background: #0581E0;
}

#rectangleInfos{
    position: absolute;
    height: auto;
    width: 80.39%;
    left: 0.87%;
    top: 14.5%;
    border-radius: 10px;

    background: #FFFFFF;
}

#rectangleLateral{
    position: fixed;
    width: 17%;
    height:80.5vh;
    overflow:auto;
    right: 0.87%;
    top: 14.5%;
    border-radius: 10px;
    background: #334052;
}

#imageCabecalho{  
    margin: 0 auto;
    position:absolute;
    right: 1.5%;
    top: 12%;
    height: 125%;
}

#line{
    position: absolute;
    border-right: 7px solid #11D0AE;  
    top: 3%;
    bottom: 3%;
    left: 7px;
    border-radius: 2000px;
}

.fonteThin{
    font-family: 'Roboto-Thin';
}
.fonteLight{
    font-family: 'Roboto-Light';
}
.fonteItalic{
    font-family: 'Roboto-Italic';
}
